.yg-content
{
	width:100%;
	padding:5px 0;
	float:left;
	font:11px "lucida grande", "tahoma", "verdana", "arial", sans-serif;
}
.yg-photo-container
{
	text-align:center;
}
.yg-grid table
{
	width:auto;
}
.yg-content a:visited,
.yg-content a
{
	color:#0f3a78;
	text-decoration:none;
}
.yg-content a:hover
{
	text-decoration:underline;
}
.clearfix:after
{
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
}
.clearfix
{
	display:block;
	zoom:1;
}
.yg-right
{
	float:right;
}
.yg-thumb
{
	border:1px solid #ccc;
	display:-moz-inline-box;
	display:inline-block;
	outline:none;
	padding:4px;
	position:relative;
	vertical-align:bottom;
}
.yg-thumb:hover,
.yg-thumb:hover .yg-thumb-wrap,
.yg-thumb:active,
.yg-thumb:active .yg-thumb-wrap,
.yg-thumb:focus,
.yg-thumb:focus .yg-thumb-wrap
{
	border-color:#3b5998;
}
.yg-album-thumb
{
	margin-bottom:4px;
	margin-right:4px;
}
.yg-thumb-huge,
.yg-thumb-huge .yg-thumb-wrap,
.yg-thumb-huge i
{
	height:115px;
	width:159px;
}
.yg-thumb-wrap
{
	/*background:#fff;*/
	border:1px solid #ccc;
	left:4px;
	padding:4px;
	position:absolute;
	top:4px;
}
.yg-thumb i
{
	/*background-color:#eee;*/
	background-position:center 50%;
	background-repeat:no-repeat;
	display:block;
}
.yg-mrs
{
	margin-right:5px
}
.yg-header
{
padding:6px 0;
}
.yg-header h2
{
	color:#1c2a47;
	font-size:16px;
}
.yg-header .yg-header-actions
{
	margin-top:-1px;
}
.yg-button + .yg-button
{
	margin-left:4px;
}
.yg-right + .rfloat
{
	margin-right:4px;
	margin-left:0;
}
.yg-button:visited,
.yg-button
{
	background:#eeeeee url("button_bg.png") 0px 0px;
	border:1px solid #999999;
	border-bottom-color:#888888;
	box-shadow:0px 1px 0px;
	color:#333333;
	cursor:pointer;
	display:-moz-inline-box;
	display:inline-block;
	font:bold 11px Tahoma;
	line-height:normal !important;
	padding:2px 6px;
	text-align:center;
	text-decoration:none;
	vertical-align:top;
	white-space:nowrap;
}
.yg-button:hover
{
	text-decoration:none;
}
.yg-button:active
{
	background:#ddd;
	border-bottom-color:#999;
	box-shadow:0 1px 0 rgba(0, 0, 0, .05);
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, .05);
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05);
}
.yg-button-confirm:active
{
	background:#4f6aa3;
	border-bottom-color:#29447e;
}
.yg-button .yg-img
{
	vertical-align:middle;
}
.yg-button .yg-button-text,
.yg-button input
{
	background:none;
	border:0;
	color:#333;
	cursor:pointer;
	display:-moz-inline-box;
	display:inline-block;
	font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin:0;
	outline:none;
	*overflow:visible;
	padding:1px 0 2px;
	*padding:0;
	white-space:nowrap;
	_width:0;
}
.yg-button-confirm
{
	background-color:#5b74a8;
	background-position:0 -48px;
	border-color:#29447e #29447e #1a356e;
	color:#fff;
}
.yg-button-confirm input {
	color:#ffffff;
}
.yg-button-add .yg-button-text
{
	background:#eeeeee url("button_icon_add.png") no-repeat 0px 50%;
	padding-left:12px;
}
.yg-album-form
{
	padding:10px;
	float:left;
}
.textarea,
.inputtext,
.inputpassword
{
	border:1px solid #bdc7d8;
	font:11px "lucida grande", "tahoma", "verdana", "arial", sans-serif;
	padding:3px;
	width:250px;
}
.textarea
{
	height:55px;
}
.inputtext,
.inputpassword
{
	margin:0px;
	padding-bottom:4px;

}
.yg-album-form td
{
	padding:0;
	vertical-align:top;
}
.yg-album-form .label
{
	text-align:right;
	padding-top:10px;
	padding-right:10px;
}
.formbuttons
{
	text-align:right;
}
.yg-button-large
{
	padding:2px 6px;
}
.yg-button-large, .yg-button-large .yg-button-text, .yg-button-large input
{
	font-size:13px;
}
.yg-album-details
{
	padding:3px;
}
.yg-album-details-count
{
	font-size:90%;
	color:#666;
}
