.gallery
{
	width:100%;
	float:left;
	clear:both;
	padding:10px 0;
}
.gallery .pager
{
	padding-top:10px;
	clear:both;
}
.gallery .summary
{
	clear:both;
}
.photo
{
	float:left;
	margin-bottom:10pt;
	width:180px;
	height:180px;
	margin:2px;
	padding:2px;
	border:1px dotted;
}
.photo .fix
{
	width:inherit;
	height:inherit;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
